<section>
  <div class="page-header">
    <h1>{{vm.feed._id ? 'Edit Feed' : 'New Feed'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.feedForm" class="form-horizontal" ng-submit="vm.save(vm.form.feedForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.feed.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.feedForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Feed name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="image">Image</label>
          <input name="image" type="text" ng-model="vm.feed.image" id="image" class="form-control" placeholder="image" required>
          <div ng-messages="vm.form.feedForm.image.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Feed image is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.feed._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
